.demo{
    color: green;
}
.text
{
    color: red;
}
.text-color{
    color: yellow;
}
.capital{
    color:green;
}
.digital{
    color:red;
}
.web{
    color:aqua:
}.minister{
    color:blue
}.alo{
    color:black;
}