.demo{
    color: green;
}
.text
{
    color: red;
}
.text-color{
    color: yellow;
}
.capital{
    color:green;
}
.digital{
    color:red;
}
.web{
    color:aqua:font-size:40px;
}.minister{
    color:blue;
}.alo{
    color:black;
    background-color:blueviolet;
    height:70px
}.tree{
    color:brown;font-size:20px;
    background-color:bisque;
}.padma{

}.bangla{
    color:coral;font-size:60px;
}.rafi{
    color:aqua;font-size:50px;
    background-color:blue;
    height:70px;
    width:200px;
}.mod{
    color:bisque;
}

