.demo{
    color: green;
}
.text
{
    color: red;
}
.text-color{
    color: yellow;
}
.capital{
    color:green;
    background-color:yellow;
}
.digital{
    color:red;
}
.web{
    color:aqua;
    background-color:black;
    height:20px
}.minister{
    color:blue;
}.alo{
    color:black;
    background-color:blueviolet;
    height:20px;
}.tree{
    color:brown;font-size:20px;
    background-color:bisque;
}.padma{

}.bangla{
    color:coral;font-size:10px;
}.rafi{
    color:aqua;font-size:20px;
    background-color:blue;
    height:30px;
    width:200px;
}.mod{
    color:bisque;
    background-color:blue;
    width:100px;
    height:40px
}#rafique{
    color:blue;
}#samim{
    color:aqua;
}#nahim{
    color:brown;
    background-color:blue;
    height:20px;width:200px;
}#sad{
    color:red;
    background-color:red;
    width:100px;            ;
}.tour{
    color:aqua;background-color:yellow;height:40px;border:5px solid red;
    border-radius:20px;
}.the{
    color:white;background-color:purple;height:50px;border:5px solid aqua;
    border-radius:15px;
}.life-history{
    color:white;background-color:blue;border:3px solid lightsalmon;
    border-radius:10px;margin-left:40px;margin-right:150px;margin-top50px;
}.life{
    color:white;background-color:red;
}.style h1{
    color:aqua;background-color:blue;border:3px solid red;
    border-radius:5px;margin:5px;text-align:center;
}.family{
    color:peru;background-color:aqua;border:3px solid blue;
    margin:5px;text-align:center;
}.fruits{
    background-color:yellow;border:10px solid blue;
    margin:20px 40px;padding:40px;
    border:2px solid red;
}

